{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Plaats advertentie</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.category) }}
                {{ form_errors(form.category) }}
                {{ form_widget(form.category, {'attr': {'class': 'form-control select2 '}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.genres) }}
                {{ form_errors(form.genres) }}
                {{ form_widget(form.genres, {'attr': {'class': 'form-control','placeholder': 'eg.: rock, pop, metal, hiphop, r&b '}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.influences) }}
                {{ form_errors(form.influences) }}
                {{ form_widget(form.influences, {'attr': {'class': 'form-control','placeholder': 'eg.: Nirvana, Queen, 50cent, The Kinks '}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.website) }}
                {{ form_errors(form.website) }}
                {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.facebook) }}
                {{ form_errors(form.facebook) }}
                {{ form_widget(form.facebook, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.twitter) }}
                {{ form_errors(form.twitter) }}
                {{ form_widget(form.twitter, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.soundCloud) }}
                {{ form_errors(form.soundCloud) }}
                {{ form_widget(form.soundCloud, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.city) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.country) }}
                {{ form_errors(form.country) }}
                {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_errors(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}